<h2> Olá {{ fornecedor }},</h2>
<p>
  Favor preencher os preços de cada produto pedido.
</p>
<p>
<a href="{{ emailToFornecedorUrl }}" target="_blank">Colocar preços</a>
</p>
<p>
  <strong>FUNEPE</strong>
</p>
